@use "../abstracts" as *;

.weather-bg {
  background-image: url("../../img/banners/weather-blur-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100dvh;
  margin: 0px;
  padding: 1rem 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
